<main class="main">
  <div *ngIf="logMessage != undefined">
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <!-- head -->
        <thead>
        <tr>
          <th>Time</th>
          <th>Title</th>
          <th>-</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let message of displayedMessage; index as i">
          <tr>
            <th class="align-top">{{ message.dateTime }}</th>
            <ng-container *ngIf="message.subSessionMessages != undefined">
              <td (click)="browseMessages(i)">
                {{ message.message }}
              </td>
            </ng-container>
            <ng-container *ngIf="message.subSessionMessages == undefined">
              <td class="align-top">
                {{ message.message }}
              </td>
            </ng-container>
            <td class="align-top">
              <ng-container *ngIf="message.image != undefined">
                <a target="#" href="assets/{{message.image}}">
                  <img class="w-60" src="assets/{{message.image}}"/>
                </a>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</main>
<router-outlet/>
