<main class="main">
  <div *ngIf="logMessage != undefined">
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <!-- head -->
        <thead>
        <tr>
          <th>Time</th>
          <th>Title</th>
          <th>-</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let message of displayedMessage; index as i">
          <tr>
            <th>{{ message.dateTime }}</th>
            <ng-container *ngIf="message.subSessionMessages != undefined">
              <td (click)="browseMessages(i)">
                {{ message.message }}
              </td>
            </ng-container>
            <ng-container *ngIf="message.subSessionMessages == undefined">
              <td>
                {{ message.message }}
              </td>
            </ng-container>
            <td>Quality Control Specialist</td>
          </tr>
          <tr *ngIf="message.image != undefined">
            <th></th>
            <td><img src="assets/{{message.image}}"/></td>
            <td></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</main>
<router-outlet/>
